In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
url= "https://raw.githubusercontent.com/rohan-r-kulkarni/bigtech_randomforest/main/data.csv"
df = pd.read_csv(url)
df1=df.reset_index()
df1

,index,Unnamed: 0,AAPL US Equity,AAPL US Equity.1,AAPL US Equity.2,AAPL US Equity.3,AAPL US Equity.4,AAPL US Equity.5,AAPL US Equity.6,AAPL US Equity.7,...,SPX Index.1,SPX Index.2,SPX Index.3,SPX Index.4,SPX Index.5,SPX Index.6,SPX Index.7,SPX Index.8,SPX Index.9,SPX Index.10
0,0,NaN,1,2,3,4,5,6,7,8,...,2,3,4,5,6,7,8,9,10,11
1,1,Dates,PX_OPEN,PX_OFFICIAL_CLOSE,PE_RATIO,EV_EBITDA_ADJUSTED,SALES_GROWTH,CUR_MKT_CAP,PX_VOLUME,FREE_CASH_FLOW_YIELD,...,PX_OFFICIAL_CLOSE,PE_RATIO,EV_EBITDA_ADJUSTED,SALES_GROWTH,CUR_MKT_CAP,PX_VOLUME,FREE_CASH_FLOW_YIELD,PROF_MARGIN,EBITDA_TO_REVENUE,BEST_PX_SALES_RATIO
2,2,1/3/00,0.936,NaN,39.6143,NaN,37.0175,17999.4376,535819200,5.1223,...,NaN,28.1209,NaN,NaN,NaN,1071554100,2.99,7.61,NaN,NaN
3,3,1/4/00,0.967,NaN,36.2744,NaN,37.0175,16481.8971,511728000,5.5939,...,NaN,28.1744,NaN,NaN,NaN,1264023700,2.99,7.61,NaN,NaN
4,4,1/5/00,0.926,NaN,36.8052,NaN,37.0175,16723.0956,778321600,5.5133,...,NaN,28.2119,NaN,NaN,NaN,1177726200,2.98,7.61,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5977,5977,11/28/22,145.14,144.22,23.6039,18.0919,8.1406,2294268.778,69346522,4.754,...,NaN,19.1332,NaN,NaN,34556774.68,517449991,4.95,11.17,NaN,2.2736
5978,5978,11/29/22,144.29,141.17,23.1047,18.0919,8.1406,2245749.018,83763803,4.8567,...,NaN,19.7254,NaN,NaN,35624829.34,1406250061,4.8,11.17,NaN,2.343
5979,5979,11/30/22,141.395,148.03,24.2275,18.0919,8.1406,2354878.708,111380880,4.6316,...,NaN,19.7083,NaN,NaN,35596739.87,633969105,4.8,11.17,NaN,2.3389
5980,5980,12/1/22,148.21,148.31,24.2733,18.0919,8.1406,2359332.981,71250416,4.6229,...,NaN,19.6847,NaN,NaN,35596739.87,633969105,4.81,11.17,NaN,2.336
5981,5981,12/2/22,145.96,148.31,24.1915,18.0919,8.1406,2351378.883,65156858,4.6385,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df1.columns

Index(['index', 'Unnamed: 0', 'AAPL US Equity', 'AAPL US Equity.1',
       'AAPL US Equity.2', 'AAPL US Equity.3', 'AAPL US Equity.4',
       'AAPL US Equity.5', 'AAPL US Equity.6', 'AAPL US Equity.7',
       ...
       'SPX Index.1', 'SPX Index.2', 'SPX Index.3', 'SPX Index.4',
       'SPX Index.5', 'SPX Index.6', 'SPX Index.7', 'SPX Index.8',
       'SPX Index.9', 'SPX Index.10'],
      dtype='object', length=123)

In [4]:
df2=df1.rename(columns={"Unnamed: 0": "Dates"})
dates=df2.loc[2:, ["Dates"]].reset_index(drop=True)
dates

         Dates
0       1/3/00
1       1/4/00
2       1/5/00
3       1/6/00
4       1/7/00
...        ...
5975  11/28/22
5976  11/29/22
5977  11/30/22
5978   12/1/22
5979   12/2/22

[5980 rows x 1 columns]

In [13]:
spx_i = 10
spx_df = pd.DataFrame(df2.iloc[1: , 2+11*spx_i:].reset_index(drop=True))
spx_df.columns = spx_df.iloc[0, :]
#spx_df.columns = spx_df.loc[1, :]
spx_df = pd.DataFrame(spx_df.iloc[1:, 0]).reset_index(drop=True)
spx_df

      PX_OPEN
0     1455.22
1     1399.42
2     1402.11
3     1403.45
4     1441.47
...       ...
5975  3964.19
5976  3957.18
5977  4087.14
5978  4040.17
5979      NaN

[5980 rows x 1 columns]

In [6]:
stocks = {}
names=[]

for i in range(0, 10):
    this_name = df2.columns[2+11*i].split(" ")[0]

    this_df = df2.iloc[1: , 2+11*i:13+11*i].reset_index(drop=True)
    this_df.columns = this_df.loc[0, :]
    this_df = this_df.loc[1:, :].reset_index(drop=True)
    this_df = pd.concat([dates, this_df], axis=1)
    this_df = this_df.dropna()
    
    if len(this_df) < 500:
        continue # do not include stocks with too small df
    
    stocks[this_name] = this_df
    
    
stocks

{'AAPL':          Dates  PX_OPEN PX_OFFICIAL_CLOSE PE_RATIO EV_EBITDA_ADJUSTED  \
 5181  11/12/19   65.388             65.49  22.0784            11.4337
 5182  11/13/19   65.283            66.118  22.2899            11.4337
 5183  11/14/19   65.938             65.66  22.1357            11.4337
 5184  11/15/19    65.92             66.44  22.3987            11.4337
 5185  11/18/19    66.45            66.775  22.5116            11.4337
 ...        ...      ...               ...      ...                ...
 5975  11/28/22   145.14            144.22  23.6039            18.0919
 5976  11/29/22   144.29            141.17  23.1047            18.0919
 5977  11/30/22  141.395            148.03  24.2275            18.0919
 5978   12/1/22   148.21            148.31  24.2733            18.0919
 5979   12/2/22   145.96            148.31  24.1915            18.0919

      SALES_GROWTH  CUR_MKT_CAP  PX_VOLUME FREE_CASH_FLOW_YIELD PROF_MARGIN  \
 5181       1.8124  1163957.699   87388904               4.8602      21.371
 5182       1.8124  1175110.295  103270372               4.8141      21.371
 5183       1.8124   1166979.12   89582224               4.8476      21.371
 5184       1.8124  1180842.106  100374664               4.7907      21.371
 5185       1.8124  1186796.082   86803588               4.7666      21.371
 ...           ...          ...        ...                  ...         ...
 5975       8.1406  2294268.778   69346522                4.754      22.986
 5976       8.1406  2245749.018   83763803               4.8567      22.986
 5977       8.1406  2354878.708  111380880               4.6316      22.986
 5978       8.1406  2359332.981   71250416               4.6229      22.986
 5979       8.1406  2351378.883   65156858               4.6385      22.986

      EBITDA_TO_REVENUE BEST_PX_SALES_RATIO
 5181           29.3629               3.592
 5182           29.3629               3.627
 5183           29.3629               3.602
 5184           29.3629               3.644
 5185           29.3629               3.663
 ...                ...                 ...
 5975           30.7934               5.669
 5976           30.7934               5.553
 5977           30.7934               5.829
 5978           30.7934                5.84
 5979           30.7934                5.82

 [799 rows x 12 columns],
 'META':          Dates  PX_OPEN PX_OFFICIAL_CLOSE PE_RATIO EV_EBITDA_ADJUSTED  \
 5171  10/29/19   189.56            188.25  23.4485            13.4794
 5172  10/30/19    196.7            191.65   23.872            13.4794
 5173  10/31/19   192.85            193.62  24.1173            13.4794
 5174   11/1/19   194.55            194.72  24.2544            13.4794
 5175   11/4/19   195.37            194.32  24.2045            13.4794
 ...        ...      ...               ...      ...                ...
 5974  11/25/22   110.78            108.78  10.2522             7.5916
 5975  11/28/22   109.54            109.46  10.3163             7.5916
 5976  11/29/22  109.505             118.1  11.1306             7.5916
 5977  11/30/22  119.198            120.44  11.3512             7.5916
 5978   12/1/22   117.83            120.44  11.6386             7.5916

      SALES_GROWTH  CUR_MKT_CAP PX_VOLUME FREE_CASH_FLOW_YIELD PROF_MARGIN  \
 5171      28.5933  537067.9312  28734559               3.6331      34.506
 5172      28.5933  546537.2227  42286529               3.5687      34.506
 5173      28.5933  552155.1633  21711829               3.5324      34.506
 5174      28.5933  555292.0845  16371292               3.5124      34.506
 5175      28.5933  554151.3859   9941954               3.5197      34.506
 ...           ...          ...       ...                  ...         ...
 5974      -4.4674  288435.4648  23332816               8.8274     15.8584
 5975      -4.4674  290238.5179  23899238               8.7726     15.8584
 5976      -4.4674  313147.8984  43348557               8.1308     15.8584
 5977      -4.4674  319352.5223  36551374               7.9728     15.8584
 5978      -4.4674  327439.7401  39685113               7.7759     15.8584

      EBITDA_TO_REVENUE BEST_PX_SALES_RATIO
 5171           50.4136                3.79
 5172           50.4136               3.857
 5173           50.4136               3.897
 5174           50.4136               3.919
 5175           50.4136               3.911
 ...                ...                 ...
 5974           30.0173               2.441
 5975           30.0173               2.457
 5976           30.0173               2.651
 5977           30.0173               2.703
 5978           30.0173               2.772

 [808 rows x 12 columns],
 'AMZN':          Dates PX_OPEN PX_OFFICIAL_CLOSE PE_RATIO EV_EBITDA_ADJUSTED  \
 5184  11/15/19  86.915            87.627  77.6143            23.5241
 5185  11/18/19   87.85             87.64  77.6258            23.5241
 5186  11/19/19  87.457            87.277  77.3043            23.5241
 5187  11/20/19   87.15            86.736  76.8251            23.5241
 5188  11/21/19  86.951            87.286  77.3127            23.5241
 ...        ...     ...               ...      ...                ...
 5974  11/25/22   93.93             93.95  94.3518            20.6069
 5975  11/28/22   94.04             92.42  92.8153            20.6069
 5976  11/29/22   92.47             96.54  96.9529            20.6069
 5977  11/30/22   96.99              95.5  95.9084            20.6069
 5978   12/1/22  94.475              95.5  94.5326            20.6069

      SALES_GROWTH  CUR_MKT_CAP  PX_VOLUME FREE_CASH_FLOW_YIELD PROF_MARGIN  \
 5184      23.6938   868899.502   56838140               2.3277      3.0494
 5185      23.6938  869028.4092   45490700               2.3274      3.0494
 5186      23.6938  865428.9214   55875180                2.337      3.0494
 5187      23.6938  860064.3955   53258760               2.3516      3.0494
 5188      23.6938  865523.1229   49581620               2.3368      3.0494
 ...           ...          ...        ...                  ...         ...
 5974      14.6997  958445.4098   75062316              -2.7514      2.2596
 5975      14.6997  942836.8789   65567286               -2.797      2.2596
 5976      14.6997  984867.6942  102805806              -2.6776      2.2596
 5977      14.6997  974257.9738   68487969              -2.7067      2.2596
 5978      14.6997  960281.6796   70409267              -2.7461      2.2596

      EBITDA_TO_REVENUE BEST_PX_SALES_RATIO
 5184           13.7952               1.643
 5185           13.7952               1.643
 5186           13.7952               1.636
 5187           13.7952               1.626
 5188           13.7952               1.636
 ...                ...                 ...
 5974           11.7741               1.757
 5975           11.7741               1.728
 5976           11.7741               1.805
 5977           11.7741               1.786
 5978           11.7741                1.76

 [795 rows x 12 columns],
 'NFLX':          Dates  PX_OPEN PX_OFFICIAL_CLOSE PE_RATIO EV_EBITDA_ADJUSTED  \
 5162  10/16/19   304.49            293.35   93.722            47.5537
 5163  10/17/19   289.36             275.3  87.9553            47.5537
 5164  10/18/19   272.89            278.05  88.8339            47.5537
 5165  10/21/19  271.159            266.69  85.2045            47.5537
 5166  10/22/19   268.06            271.27  86.6677            47.5537
 ...        ...      ...               ...      ...                ...
 5974  11/25/22      284            281.17  29.3455            22.0713
 5975  11/28/22    282.5            280.96  29.3236            22.0713
 5976  11/29/22   281.37            305.53   31.888            22.0713
 5977  11/30/22   303.99            316.95  33.0799            22.0713
 5978   12/1/22   310.49            316.95   33.441            22.0713

      SALES_GROWTH  CUR_MKT_CAP PX_VOLUME FREE_CASH_FLOW_YIELD PROF_MARGIN  \
 5162      31.1431  128438.8626  38462343              -2.2432     12.6836
 5163      31.1431  120650.5799  23449638              -2.3902     12.6836
 5164      31.1431  121855.7709  12633959              -2.3666     12.6836
 5165      31.1431  116877.2363  11865593              -2.4674     12.6836
 5166      31.1431  118884.4272   7154430              -2.4257     12.6836
 ...           ...          ...       ...                  ...         ...
 5974        5.908  125126.4123   4707049               0.5728     17.6421
 5975        5.908   125032.958   5786874               0.5733     17.6421
 5976        5.908  135967.1115  16070120               0.5272     17.6421
 5977        5.908  141049.2456  14664866               0.5082     17.6421
 5978        5.908  142589.0181  12633736               0.5027     17.6421

      EBITDA_TO_REVENUE BEST_PX_SALES_RATIO
 5162           20.2853               3.482
 5163           20.2853               3.271
 5164           20.2853               3.304
 5165           20.2853               3.169
 5166           20.2853               3.223
 ...                ...                 ...
 5974           20.4175                3.78
 5975           20.4175               3.777
 5976           20.4175               4.107
 5977           20.4175               4.261
 5978           20.4175               4.307

 [817 rows x 12 columns],
 'TSLA':          Dates PX_OPEN PX_OFFICIAL_CLOSE   PE_RATIO EV_EBITDA_ADJUSTED  \
 5280   3/30/20  33.417            34.933  3314.4628            29.7775
 5281   3/31/20    33.6            32.104  3046.0166            29.7775
 5282    4/1/20  32.069            30.298   2874.664            29.7775
 5283    4/2/20  33.967            32.001  3036.2124            29.7775
 5284    4/3/20   34.08            34.416  3265.3784            29.7775
 ...        ...     ...               ...        ...                ...
 5974  11/25/22  179.96            182.92    55.9552            51.1107
 5975  11/28/22  184.99            180.83    55.3159            51.1107
 5976  11/29/22  182.43             194.7    59.5587            51.1107
 5977  11/30/22  197.08             194.7    59.5587            51.1107
 5978   12/1/22  191.78             194.7    59.6077            51.1107

      SALES_GROWTH  CUR_MKT_CAP  PX_VOLUME FREE_CASH_FLOW_YIELD PROF_MARGIN  \
 5280      31.7857   96473.4231  266572275                1.199      0.2673
 5281      31.7857   88659.8122  200297700               1.3047      0.2673
 5282      31.7857   83672.2835  297876405               1.3825      0.2673
 5283      31.7857   88374.4424  338431140               1.3089      0.2673
 5284      31.7857   95044.7327  223527540                1.217      0.2673
 ...           ...          ...        ...                  ...         ...
 5974      55.9497   577616.078   93038148               1.5729     15.3445
 5975      55.9497  571016.3754   83357111               1.5911     15.3445
 5976      55.9497  614814.4018  109186404               1.4778     15.3445
 5977      55.9497  614814.4018   80046213               1.4778     15.3445
 5978      55.9497  615319.6441   73262812               1.4765     15.3445

      EBITDA_TO_REVENUE BEST_PX_SALES_RATIO
 5280           13.9683               1.461
 5281           13.9683               1.342
 5282           13.9683                1.27
 5283           13.9683               1.341
 5284           13.9683               1.442
 ...                ...                 ...
 5974           21.6463               5.201
 5975           21.6463               5.141
 5976           21.6463               5.536
 5977           21.6463               5.537
 5978           21.6463               5.541

 [699 rows x 12 columns],
 'MSFT':          Dates PX_OPEN PX_OFFICIAL_CLOSE PE_RATIO EV_EBITDA_ADJUSTED  \
 5181  11/12/19  146.74            147.31  29.6838            17.0461
 5182  11/13/19  147.02            148.06   29.835            17.0461
 5183  11/14/19  148.93            149.97  30.2199            17.0461
 5184  11/15/19  150.07            150.34  30.2944            17.0461
 5185  11/18/19  150.88            150.39  30.3045            17.0461
 ...        ...     ...               ...      ...                ...
 5974  11/25/22  246.08            241.76  26.0503            16.8577
 5975  11/28/22   241.4            240.33  25.8963            16.8577
 5976  11/29/22  240.57            255.14  27.4921            16.8577
 5977  11/30/22  253.87            254.69  27.4436            16.8577
 5978   12/1/22  249.82            254.69  27.4792            16.8577

      SALES_GROWTH  CUR_MKT_CAP PX_VOLUME FREE_CASH_FLOW_YIELD PROF_MARGIN  \
 5181      13.6536  1123799.356  17444230               3.4246     32.3037
 5182      13.6536   1129520.96  19755100               3.4072     32.3037
 5183      13.6536  1144091.979  23508807               3.3638     32.3037
 5184      13.6536  1146914.637  21554762               3.3556     32.3037
 5185      13.6536  1147296.077  23960164               3.3544     32.3037
 ...           ...          ...       ...                  ...         ...
 5974      10.6031  1802193.427  24810271               3.5024     35.0265
 5975      10.6031  1791533.531  17956313               3.5233     35.0265
 5976      10.6031  1901934.278  47594239               3.3188     35.0265
 5977      10.6031  1898579.765  26041524               3.3246     35.0265
 5978      10.6031  1901039.773  21270934               3.3203     35.0265

      EBITDA_TO_REVENUE BEST_PX_SALES_RATIO
 5181           48.7733               5.673
 5182           48.7733               5.702
 5183           48.7733               5.776
 5184           48.7733                5.79
 5185           48.7733               5.792
 ...                ...                 ...
 5974           49.8184               8.242
 5975           49.8184               8.216
 5976           49.8184               8.722
 5977           49.8184               8.708
 5978           49.8184               8.719

 [798 rows x 12 columns],
 'IBM':          Dates   PX_OPEN PX_OFFICIAL_CLOSE PE_RATIO EV_EBITDA_ADJUSTED  \
 5360   7/20/20  125.2793           120.408    10.48             8.9042
 5361   7/21/20  120.2551           122.901   10.697             8.9042
 5362   7/22/20  123.3117           121.621  10.5856             8.9042
 5363   7/23/20  120.8091          120.1501  10.4576             8.9042
 5364   7/24/20  119.2618          120.5512  10.4925             8.9042
 ...        ...       ...               ...      ...                ...
 5974  11/25/22    147.98            146.18  17.8174             7.7375
 5975  11/28/22    145.91            146.49  17.8552             7.7375
 5976  11/29/22    146.19             148.9  18.1489             7.7375
 5977  11/30/22    149.98            149.16  18.1806             7.7375
 5978   12/1/22    148.13            149.16  18.1209             7.7375

      SALES_GROWTH  CUR_MKT_CAP PX_VOLUME FREE_CASH_FLOW_YIELD PROF_MARGIN  \
 5360      -5.4173  111927.6601  15364948              11.9227      7.5098
 5361      -5.4173  114245.0581   8195366              11.6809      7.5098
 5362      -5.4173  113055.2829   4220136              11.8038      7.5098
 5363      -5.4173  111687.9293   3531076              11.9483      7.5098
 5364      -5.4173  112060.8439   3733547              11.9086      7.5098
 ...           ...          ...       ...                  ...         ...
 5974       6.4599  132165.1917   3538696               5.7955    -22.6554
 5975       6.4599  132445.4709   2754744               5.7832    -22.6554
 5976       6.4599  134624.4155   6377582               5.6896    -22.6554
 5977       6.4599  134859.4883   4495924               5.6797    -22.6554
 5978       6.4599  134416.4647   2868387               5.6984    -22.6554

      EBITDA_TO_REVENUE BEST_PX_SALES_RATIO
 5360           19.5829               1.513
 5361           19.5829               1.544
 5362           19.5829               1.528
 5363           19.5829                1.51
 5364           19.5829               1.515
 ...                ...                 ...
 5974           18.3668               2.212
 5975           18.3668               2.217
 5976           18.3668               2.253
 5977           18.3668               2.257
 5978           18.3668               2.252

 [619 rows x 12 columns],
 'INTC':          Dates PX_OPEN PX_OFFICIAL_CLOSE PE_RATIO EV_EBITDA_ADJUSTED  \
 5428  10/22/20   48.35              48.2   9.8928             6.0329
 5429  10/23/20   47.85             46.72    9.589             6.0329
 5430  10/26/20   45.98             45.64   9.3674             6.0329
 5431  10/27/20   44.89             44.25   9.0821             6.0329
 5432  10/28/20   44.24             44.11   9.0533             6.0329
 ...        ...     ...               ...      ...                ...
 5974  11/25/22    29.1            28.725  15.1098             6.0718
 5975  11/28/22   28.85              28.9  15.2018             6.0718
 5976  11/29/22   28.77             30.07  15.8173             6.0718
 5977  11/30/22   30.24             29.83   15.691             6.0718
 5978   12/1/22   29.17             29.83  15.4701             6.0718

      SALES_GROWTH  CUR_MKT_CAP PX_VOLUME FREE_CASH_FLOW_YIELD PROF_MARGIN  \
 5428      -4.4659     197523.6  97322490               9.9112     23.3241
 5429      -4.4659    191458.56  54161291              10.2252     23.3241
 5430      -4.4659    187032.72  50130518              10.4671     23.3241
 5431      -4.4659     181336.5  45066011              10.7959     23.3241
 5432      -4.4659    180762.78  36796801              10.8302     23.3241
 ...           ...          ...       ...                  ...         ...
 5974     -20.0813   118548.075  28282116             -11.4092      6.6436
 5975     -20.0813     119270.3  24361493             -11.3402      6.6436
 5976     -20.0813    124098.89  72072532             -10.8989      6.6436
 5977     -20.0813    123108.41  38896309             -10.9866      6.6436
 5978     -20.0813  121375.0694  30611643             -11.1435      6.6436

      EBITDA_TO_REVENUE BEST_PX_SALES_RATIO
 5428           44.6299               2.844
 5429           44.6299               2.757
 5430           44.6299               2.694
 5431           44.6299               2.612
 5432           44.6299               2.604
 ...                ...                 ...
 5974           20.0613               2.002
 5975           20.0613               2.014
 5976           20.0613               2.096
 5977           20.0613               2.079
 5978           20.0613                2.05

 [551 rows x 12 columns]}

In [8]:
stocks["AAPL"].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 799 entries, 5181 to 5979
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dates                 799 non-null    object
 1   PX_OPEN               799 non-null    object
 2   PX_OFFICIAL_CLOSE     799 non-null    object
 3   PE_RATIO              799 non-null    object
 4   EV_EBITDA_ADJUSTED    799 non-null    object
 5   SALES_GROWTH          799 non-null    object
 6   CUR_MKT_CAP           799 non-null    object
 7   PX_VOLUME             799 non-null    object
 8   FREE_CASH_FLOW_YIELD  799 non-null    object
 9   PROF_MARGIN           799 non-null    object
 10  EBITDA_TO_REVENUE     799 non-null    object
 11  BEST_PX_SALES_RATIO   799 non-null    object
dtypes: object(12)
memory usage: 81.1+ KB

In [9]:
#check nans

for ticker in stocks.keys():
    print(ticker)
    print(stocks[ticker].info())
    print()

AAPL
<class 'pandas.core.frame.DataFrame'>
Int64Index: 799 entries, 5181 to 5979
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dates                 799 non-null    object
 1   PX_OPEN               799 non-null    object
 2   PX_OFFICIAL_CLOSE     799 non-null    object
 3   PE_RATIO              799 non-null    object
 4   EV_EBITDA_ADJUSTED    799 non-null    object
 5   SALES_GROWTH          799 non-null    object
 6   CUR_MKT_CAP           799 non-null    object
 7   PX_VOLUME             799 non-null    object
 8   FREE_CASH_FLOW_YIELD  799 non-null    object
 9   PROF_MARGIN           799 non-null    object
 10  EBITDA_TO_REVENUE     799 non-null    object
 11  BEST_PX_SALES_RATIO   799 non-null    object
dtypes: object(12)
memory usage: 81.1+ KB
None

META
<class 'pandas.core.frame.DataFrame'>
Int64Index: 808 entries, 5171 to 5978
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dates                 808 non-null    object
 1   PX_OPEN               808 non-null    object
 2   PX_OFFICIAL_CLOSE     808 non-null    object
 3   PE_RATIO              808 non-null    object
 4   EV_EBITDA_ADJUSTED    808 non-null    object
 5   SALES_GROWTH          808 non-null    object
 6   CUR_MKT_CAP           808 non-null    object
 7   PX_VOLUME             808 non-null    object
 8   FREE_CASH_FLOW_YIELD  808 non-null    object
 9   PROF_MARGIN           808 non-null    object
 10  EBITDA_TO_REVENUE     808 non-null    object
 11  BEST_PX_SALES_RATIO   808 non-null    object
dtypes: object(12)
memory usage: 82.1+ KB
None

AMZN
<class 'pandas.core.frame.DataFrame'>
Int64Index: 795 entries, 5184 to 5978
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dates                 795 non-null    object
 1   PX_OPEN               795 non-null    object
 2   PX_OFFICIAL_CLOSE     795 non-null    object
 3   PE_RATIO              795 non-null    object
 4   EV_EBITDA_ADJUSTED    795 non-null    object
 5   SALES_GROWTH          795 non-null    object
 6   CUR_MKT_CAP           795 non-null    object
 7   PX_VOLUME             795 non-null    object
 8   FREE_CASH_FLOW_YIELD  795 non-null    object
 9   PROF_MARGIN           795 non-null    object
 10  EBITDA_TO_REVENUE     795 non-null    object
 11  BEST_PX_SALES_RATIO   795 non-null    object
dtypes: object(12)
memory usage: 80.7+ KB
None

NFLX
<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 5162 to 5978
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dates                 817 non-null    object
 1   PX_OPEN               817 non-null    object
 2   PX_OFFICIAL_CLOSE     817 non-null    object
 3   PE_RATIO              817 non-null    object
 4   EV_EBITDA_ADJUSTED    817 non-null    object
 5   SALES_GROWTH          817 non-null    object
 6   CUR_MKT_CAP           817 non-null    object
 7   PX_VOLUME             817 non-null    object
 8   FREE_CASH_FLOW_YIELD  817 non-null    object
 9   PROF_MARGIN           817 non-null    object
 10  EBITDA_TO_REVENUE     817 non-null    object
 11  BEST_PX_SALES_RATIO   817 non-null    object
dtypes: object(12)
memory usage: 83.0+ KB
None

TSLA
<class 'pandas.core.frame.DataFrame'>
Int64Index: 699 entries, 5280 to 5978
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dates                 699 non-null    object
 1   PX_OPEN               699 non-null    object
 2   PX_OFFICIAL_CLOSE     699 non-null    object
 3   PE_RATIO              699 non-null    object
 4   EV_EBITDA_ADJUSTED    699 non-null    object
 5   SALES_GROWTH          699 non-null    object
 6   CUR_MKT_CAP           699 non-null    object
 7   PX_VOLUME             699 non-null    object
 8   FREE_CASH_FLOW_YIELD  699 non-null    object
 9   PROF_MARGIN           699 non-null    object
 10  EBITDA_TO_REVENUE     699 non-null    object
 11  BEST_PX_SALES_RATIO   699 non-null    object
dtypes: object(12)
memory usage: 71.0+ KB
None

MSFT
<class 'pandas.core.frame.DataFrame'>
Int64Index: 798 entries, 5181 to 5978
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dates                 798 non-null    object
 1   PX_OPEN               798 non-null    object
 2   PX_OFFICIAL_CLOSE     798 non-null    object
 3   PE_RATIO              798 non-null    object
 4   EV_EBITDA_ADJUSTED    798 non-null    object
 5   SALES_GROWTH          798 non-null    object
 6   CUR_MKT_CAP           798 non-null    object
 7   PX_VOLUME             798 non-null    object
 8   FREE_CASH_FLOW_YIELD  798 non-null    object
 9   PROF_MARGIN           798 non-null    object
 10  EBITDA_TO_REVENUE     798 non-null    object
 11  BEST_PX_SALES_RATIO   798 non-null    object
dtypes: object(12)
memory usage: 81.0+ KB
None

IBM
<class 'pandas.core.frame.DataFrame'>
Int64Index: 619 entries, 5360 to 5978
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dates                 619 non-null    object
 1   PX_OPEN               619 non-null    object
 2   PX_OFFICIAL_CLOSE     619 non-null    object
 3   PE_RATIO              619 non-null    object
 4   EV_EBITDA_ADJUSTED    619 non-null    object
 5   SALES_GROWTH          619 non-null    object
 6   CUR_MKT_CAP           619 non-null    object
 7   PX_VOLUME             619 non-null    object
 8   FREE_CASH_FLOW_YIELD  619 non-null    object
 9   PROF_MARGIN           619 non-null    object
 10  EBITDA_TO_REVENUE     619 non-null    object
 11  BEST_PX_SALES_RATIO   619 non-null    object
dtypes: object(12)
memory usage: 62.9+ KB
None

INTC
<class 'pandas.core.frame.DataFrame'>
Int64Index: 551 entries, 5428 to 5978
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Dates                 551 non-null    object
 1   PX_OPEN               551 non-null    object
 2   PX_OFFICIAL_CLOSE     551 non-null    object
 3   PE_RATIO              551 non-null    object
 4   EV_EBITDA_ADJUSTED    551 non-null    object
 5   SALES_GROWTH          551 non-null    object
 6   CUR_MKT_CAP           551 non-null    object
 7   PX_VOLUME             551 non-null    object
 8   FREE_CASH_FLOW_YIELD  551 non-null    object
 9   PROF_MARGIN           551 non-null    object
 10  EBITDA_TO_REVENUE     551 non-null    object
 11  BEST_PX_SALES_RATIO   551 non-null    object
dtypes: object(12)
memory usage: 56.0+ KB
None